@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-xxs: 10px;
    --text-xs: 14px;
    --text-sm: 15px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 30px;
    --text-4xl: 36px;
  }
}
